<!-- We are not counting the number of times we visit this page -->
<!-- But we are showing the number of times we visited the homepage -->
<section class="container">
  <h3>Number of times you've visited the homepage: {{countVisit}}</h3>
  <section class="painting">
    <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
    <div class="painting-details">
      <h3>{{painting.title}}</h3>
      <ul>
        <li><a href="{{painting.artist}}">{{painting.artist}}</a></li>
        <li><a href="{{painting.description}}">{{painting.description}}</a></li>
      </ul>
      <div class="discription-box">
        <p class="project-discription">Description: <span class="description-text">{{painting.exhibition_date}}</span>
        </p>
      </div>
    </div>
  </section>
</section>